# Pandas
Pandas is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python.
Pandas build upon numpy and scipy providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures pandas provides are Series and DataFrames.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
iris=pd.read_csv('iris.csv')

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [6]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
iris1=iris.drop("Id", axis=1)

In [8]:
iris1.columns= ['sepal_length', 'sepal_width' , 'petal_length', 'petal_width','species']

In [9]:
iris1.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
iris1.sample(5)

     sepal_length  sepal_width  petal_length  petal_width          species
118           7.7          2.6           6.9          2.3   Iris-virginica
114           5.8          2.8           5.1          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
78            6.0          2.9           4.5          1.5  Iris-versicolor
146           6.3          2.5           5.0          1.9   Iris-virginica

In [11]:
iris1['species']=iris['Species'].astype('category')
iris1.dtypes

sepal_length     float64
sepal_width      float64
petal_length     float64
petal_width      float64
species         category
dtype: object

In [12]:
print(iris1.species.unique())

[Iris-setosa, Iris-versicolor, Iris-virginica]
Categories (3, object): [Iris-setosa, Iris-versicolor, Iris-virginica]

In [13]:
print(iris1['species'].value_counts())
iris2=pd.DataFrame(iris1['species'].value_counts())
iris2

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: species, dtype: int64

                 species
Iris-virginica        50
Iris-versicolor       50
Iris-setosa           50

In [14]:
iris1.shape

(150, 5)

In [15]:
iris1.size

750

In [16]:
iris1.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
iris1.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object

In [18]:
iris1.min()

sepal_length            4.3
sepal_width               2
petal_length              1
petal_width             0.1
species         Iris-setosa
dtype: object

In [19]:
iris1['sepal_length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal_length, dtype: int64

In [20]:
iris1['sepal_length'].value_counts(normalize=True)

5.0    0.066667
6.3    0.060000
5.1    0.060000
6.7    0.053333
5.7    0.053333
5.5    0.046667
5.8    0.046667
6.4    0.046667
6.0    0.040000
4.9    0.040000
6.1    0.040000
5.4    0.040000
5.6    0.040000
6.5    0.033333
4.8    0.033333
7.7    0.026667
6.9    0.026667
5.2    0.026667
6.2    0.026667
4.6    0.026667
7.2    0.020000
6.8    0.020000
4.4    0.020000
5.9    0.020000
6.6    0.013333
4.7    0.013333
7.6    0.006667
7.4    0.006667
4.3    0.006667
7.9    0.006667
7.3    0.006667
7.0    0.006667
4.5    0.006667
5.3    0.006667
7.1    0.006667
Name: sepal_length, dtype: float64

# Sorting
A DataFrame can be sorted by the value of one of the variables (i.e columns). For example, we can sort by Total day charge (use ascending=False to sort in descending order):

In [21]:
iris1.sort_values(by='sepal_length', ascending=False).head()

     sepal_length  sepal_width  petal_length  petal_width         species
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica

# Indexing and retrieving data
DataFrame can be indexed in different ways.

To get a single column, you can use a DataFrame['Name'] construction. 

DataFrames can be indexed by column name (label) or row name (index) or by the serial number of a row. 
The <b>loc</b> method is used for indexing by name, while <b>iloc()</b> is used for indexing by number.

In [22]:
iris1.iloc[0:5, 0:3]

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [23]:
iris1.loc[:5,"sepal_width"]

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
5    3.9
Name: sepal_width, dtype: float64

If we need the first or the last line of the data frame, we can use the df[:1] or df[-1:] construct:

In [24]:
iris1[-1:]

     sepal_length  sepal_width  petal_length  petal_width         species
149           5.9          3.0           5.1          1.8  Iris-virginica

In [25]:
iris1[:1]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa

In [26]:
iris1.index

RangeIndex(start=0, stop=150, step=1)

In [27]:
type(iris1["species"])

pandas.core.series.Series

# Applying Functions to Cells, Columns and Rows
<h5>To apply functions to each column, use apply():</h5>

In [28]:
iris1.apply(np.max)

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object

**correlation**

In [29]:
iris1.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000